.Activities {
 
  section{
    margin: 0;
    .title{
      position: relative;
      top: 9px;
      text-align: center;
      color:#535250eb;
      text-shadow: #969593d0;
      font-size: 2rem;
      margin: 0;
    }
  }

    
  }
  