.Home {
    width: 100vh;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        
        position: relative;
        top:350px;
        font-size: 5rem;
        color: white;
        
    }

    section{
        
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100vh;
            height: 100vh;
        }
    }
    p{
        margin:20px;
    }

    hr {
        border: 0;
        border-top: 5px double #CCC;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
      }
}