.Activity {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      position: absolute;
      top: 9px;
      left: 0;
      width: 140px;
      height: 140px;
      padding:15px;
      object-fit: contain;
    }
  
    section{
      margin: 90px;

      .btn{
        position: absolute;
        top:70px;
        right: 20px;
        background-color: transparent;
        border-radius: 100%;
        box-shadow: 5px 5px #969593d0;
        width: 60px;
        height: 60px;
        cursor: pointer;
      }

      h1{
        text-align: center;
        color: #383736ef;
        text-shadow: #969593d0;
        font-size: 1.5rem;
       
      }

      .phone{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 0;
      }

      }
  }