.Activity {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  
    section{
      display: flex;
      flex-direction: column;
      }

    img {
      margin-top: 10px;
      width: 50%;
      height: 300px;
      object-fit: cover;
    }

    button{
      position: fixed;
      top:80px;
      right: 60px;
      background: none;
      border: none;
      font-size: 2rem;
      color:rgba(0, 0, 0, 0.82);
      cursor: pointer;
    }

  }